@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget Top selling -->
                <div class="aside">
                    <h3 class="aside-title">Top selling</h3>
                    @foreach (var item in Model.TopSellingList)
                    {
                        if (item.TotalPrice <= 0)
                            continue;

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://img.freepik.com/free-photo/beautiful-bouquet-flowers_23-2149053825.jpg?w=360&t=st=1710310220~exp=1710310820~hmac=311ca59a6575885849b051cdd971dced1f16de34305a26dbb5c1dd4f7d337bb3" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">@item.CategoryName</p>
                                <h3 class="product-name"><a href="#">@item.FlowerBouquetName</a></h3>
                                <h4 class="product-price">@item.TotalPrice</h4>
                            </div>
                        </div>
                    }
                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store products -->
                <div class="row">
                    @{
                        foreach (var flower in Model.Flowers)
                        {
                            <!-- product -->
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    <div class="product-img">
                                        <img src="https://img.freepik.com/free-photo/beautiful-bouquet-flowers_23-2149053825.jpg?w=360&t=st=1710310220~exp=1710310820~hmac=311ca59a6575885849b051cdd971dced1f16de34305a26dbb5c1dd4f7d337bb3" alt="flower">
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">@flower.Category.CategoryName</p>
                                        <h3 class="product-name"><a href="#">@flower.FlowerBouquetName</a></h3>
                                        <h4 class="product-price">@flower.UnitPrice</h4>
                                    </div>
                                    <div class="add-to-cart">
                                        <form method="post">
                                            <input type="hidden" name="flowerID" value="@flower.FlowerBouquetId"/>
                                            <button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix visible-sm visible-xs"></div>
                            <!-- /product -->
                        }
                    }
                </div>
                <!-- /store products -->
                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <form action="Index" method="get">
                        <ul class="store-pagination">
                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                if (i == Model.CurrentPage)
                                {
                                    <li class="active">
                                        <a asp-page="Index" asp-route-pageNumer="@i">@i</a>
                                    </li>

                                }
                                else
                                {
                                    <li>
                                        <a asp-page="Index" asp-route-pageNumer="@i">@i</a>
                                    </li>
                                }
                            }
                        </ul>
                    </form>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
